<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../assets/home_images/2.jpg" alt="First slide">
      <div class="mask rgba-black-light waves-light"></div>
    </div>
    <div class="carousel-caption">
      <h6 class="h6-responsive"></h6>
      <p></p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../assets/home_images/3.JPG" alt="Second slide">
      <div class="mask rgba-black-light waves-light"></div>
    </div>
    <div class="carousel-caption">
      <h6 class="h6-responsive"></h6>
      <p></p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <div class="view w-100">
      <img class="d-block w-100" src="../../assets/home_images/4.jpg" alt="Third slide">
      <div class="mask rgba-black-light waves-light"></div>
    </div>
    <div class="carousel-caption">
      <h6 class="h6-responsive"></h6>
      <p></p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>OF BY AND FOR YOU</h2>
        <p class="d-flex text-justify">
          – is the Trust, Registered under Indian Trust Act, 1882, it is organized to serve the community with the
          wordings of Swami Vivekananda “Not Me – But You”, which reflects the essence of Democratic living and upholds
          the need for selfless service. The organization strongly believes that “All Power, Attitude & Strength of the
          human beings is within themselves” it is the duty of the stakeholders viz., (Parents, Teachers, Trainers
          etc.,) to bring it out or show the way to identify those skills. Our organization focuses on students/teaching
          community and to identify their skills as well make them responsible towards themselves, their career, family
          and ultimately to the Nation. Students community, the budding young generations are the most important and
          dynamic segments of the population of any developing country which focuses on the young people’s education and
          empowerment could see the tremendous growth undoubtedly they are the tomorrows innovators, creators and
          Leaders. They require support in terms of identifying their hidden talents & Skills to transform the future.
          The desirous of Establishment of a Trust is for
        </p>
        <ul>
          <li>
            <p>Research and Development</p>
          </li>
          <li>
            <p>Development & Training</p>
          </li>
          <li>
            <p>Female health & Awareness</p>
          </li>
          <li>
            <p>Education & Child Development and</p>
          </li>
          <li>
            <p>Women Empowerment</p>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <!-- Card -->
        <mdb-card>

          <mdb-card-header class="pink lighten-2 white-text text-center py-4">
            <h6>
              <strong>News and Annoucements</strong>
            </h6>
          </mdb-card-header>
        <mdb-card-body>
          <marquee width="100%" direction="up" height="450px">
            <h6>1.<a target="_blank" href="../../assets/award-pdf/1. Teachers day Award - Nomination - Flyer.pdf">TEACHERS DAY AWARD NOMINATION - 2020</a></h6><br>
            <h6>2.<a href="../../assets/award-pdf/1.WEBINAR ON NEW EDUCATION POLICY - 22.08.2020-converted.pdf">WEBINAR ON NEW EDUCATION POLICY - 22.08.2020</a></h6><br>
            <h6>3.<a href="../../assets/award-pdf/2. RANGOLI COMPETITION - 2020-converted.pdf">RANGOLI COMPETITION - 2020</a></h6><br>
            <h6>4.<a href="../../assets/award-pdf/3.OUTSTANDING ASPIRANT  WINNER - 2020.pdf"> ASPIRANT  WINNER - 2020</a></h6><br>
            <h6>5.<a href="../../assets/award-pdf/4. OUTSTANDING AWARD NOITFICATION.pdf"> AWARD NOITFICATION</a></h6><br>
            <h6>6.<a href="../../assets/award-pdf/7. ENTREPRENEURIAL AWARD - FLYER.pdf"> YOUNG ENTREPRENEUR AWARD WINNER - CSDF</a></h6><br>
            <h6>7.<a target="_blank"  href="../../assets/award-pdf/OUTSTANDING MENTOR AWARDEES - 2020.pdf">MENTOR AWARD WINNER - CSDF</a></h6><br>
            <h6>8.<a target="_blank" href="../../assets/award-pdf/YOUNG ENTREPRENEURS AWARDEES - 2020.pdf">ENTREPRENEURIAL AWARD - FLYER</a></h6><br>
            </marquee>
          </mdb-card-body>
        </mdb-card>
        <!-- Material form subscription -->


      </div>
    </div>
  </div>
</section>